{{> head }}


{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Deportes tolima</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto adipisci nesciunt similique quo porro asperiores, magni fuga cumque molestias possimus, ipsa pariatur officiis dolorem, natus atque excepturi accusamus quibusdam a!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/tolima.png" class="img-thumbnail">
        </div>
    </div>    

{{> footer }}